
services:
  api:
    image: api-storage-strategy
    container_name: api-storage-strategy
    build:
      context: .
      dockerfile: StorageStrategy.API/Dockerfile
    ports:
      - "11800:11800"
    networks:
        - storage-strategy-network
  
  minio:
    image: quay.io/minio/minio:RELEASE.2025-02-03T21-03-04Z-cpuv1
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Console MinIO
    restart: always
    networks:
        - storage-strategy-network

volumes:
  minio-data:
    
networks:
    storage-strategy-network:
        driver: bridge